@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

body {
    font-family: Muli, Arial, Helvetica, sans-serif;
    font-size: 17px;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fffcf5;

}

.video-area {
    padding: 10px;
    background: transparent;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-wrapper {
    display: inline-block;
    position: relative;
    background: transparent;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

.text-overlay {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    opacity: 0.3;
    bottom: 20px;
    font-size: 12px;
    font-family: 'Comic Sans MS', sans-serif;
}

.video {
    width: 184px;
    height: 138px;
    padding: 6px;
}

.chat-log {
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 auto;
    overflow: hidden;
}

.chat-message {
    width: 100%;
    padding: 3px;
}

.chat-message>span {
    margin: 0;
    word-break: break-all;
    color: #756753;
}

.bold {
    font-weight: bold;
}

#chat-form {
    padding: 10px;
    background: #FFF8E8;
}

.chat-input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px lightgray dotted;
}

@media only screen and (min-width: 500px) {
    .video {
        width: 240px;
        height: 210px;
    }

    .text-overlay {
        bottom: 40px;
        font-size: 15px;
    }
}

@media only screen and (min-width: 800px) {
    .video {
        width: 380px;
        height: auto;
    }

    .text-overlay {
        bottom: 50px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1650px) {
    .video {
        width: 540px;
        height: 470px;
    }

    .text-overlay {
        bottom: 55px;
        font-size: 25px;
    }
}